.activity {
  margin-top: 64px;
}

.activity__card {
  max-width: 950px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.activity__card-title {
  @extend .roboto-48-bold;
  margin-bottom: 48px;
  text-align: center;
  background-color: $orange;
  border-radius: 20px;
  padding: 5px;

  @include mq(1440) {
    margin-bottom: 32px;
  }

  @include mq(991) {
    margin-bottom: 24px;
  }

  @include mq(768) {
    margin-bottom: 16px;
  }
}

.activity__card-text-title {
  font-weight: bold;
  background-color: $orange;
  border-radius: 20px;
  padding: 5px;
}

.activity__card-text-box {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 16px;
  margin-bottom: 48px;

  &.animate {
    animation: 1s fadeOut cubic-bezier(0.38, 0.005, 0.215, 1) forwards;
  }

  @include mq(1440) {
    max-width: 800px;
    margin-bottom: 32px;
  }

  @include mq(991) {
    max-width: 700px;
    margin-bottom: 24px;
  }

  @include mq(768) {
    max-width: 450px;
    margin-bottom: 16px;
  }
}

.activity__card-text {
  @extend .roboto-24-normal;
  max-width: 400px;
  width: 100%;
  height: 100px;
  text-align: center;
  border: 2px solid $black;
  padding: 12px;

  @include mq(1440) {
    max-width: 350px;
    height: 80px;
  }

  @include mq(991) {
    max-width: 300px;
    height: 60px;
  }

  @include mq(768) {
    max-width: 250px;
    height: 50px;
  }
}

@include mq(1921, min) {
  .activity {
    margin-top: 3.33333vw;
  }

  .activity__card {
    max-width: 49.47917vw;
  }

  .activity__card-title {
    margin-bottom: 2.5vw;
    border-radius: 1.04167vw;
    padding: 0.26042vw;
  }

  .activity__card-text-title {
    border-radius: 1.04167vw;
    padding: 0.26042vw;
  }

  .activity__card-text-box {
    max-width: 46.875vw;
    grid-gap: 0.83333vw;
    margin-bottom: 2.5vw;
  }

  .activity__card-text {
    max-width: 20.83333vw;
    height: 5.20833vw;
    border: 0.10417vw solid $black;
    padding: 0.625vw;
  }
}
