.info {
  margin-top: -380px;
  visibility: hidden;
  opacity: 0;
  animation: 1s fadeFromTop cubic-bezier(0.38, 0.005, 0.215, 1) forwards;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.animate {
    animation: 1s fadeOut cubic-bezier(0.38, 0.005, 0.215, 1) forwards;
  }
}

.info__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 20px;
  padding: 24px;
  position: relative;
  z-index: 10;

  @include mq(1440) {
    max-width: 950px;
  }

  @include mq(1280) {
    max-width: 750px;
  }

  @include mq(991) {
    max-width: 550px;
  }

  @include mq(768) {
    max-width: 300px;
  }
}

.info__close-btn {
  display: flex;
  margin-left: auto;
  max-width: 30px;
  width: 100%;
  cursor: pointer;

  svg {
    width: 30px;
    height: 30px;
    fill: $black;
    transition: fill 0.3s;

    &:hover {
      fill: $blue;
    }
  }

  @include mq(1440) {
    max-width: 25px;
  }

  @include mq(991) {
    max-width: 20px;
  }

  @include mq(768) {
    max-width: 18px;
  }

  @include mq(480) {
    max-width: 15px;
  }
}

.info__title {
  @extend .roboto-32-bold;
  max-width: 450px;
  width: 100%;
  margin: 0 auto 24px;
  text-align: center;
  background-color: $blue;
  border-radius: 20px;
  padding: 5px;
}

.info__text-title {
  font-weight: bold;
  border-bottom: 4px solid $blue;
}

.info__text-box {
  @extend .roboto-24-normal;
  max-width: 1150px;
  width: 100%;
  text-align: center;

  p:not(:last-child) {
    margin-bottom: 16px;
  }
}

@include mq(1921, min) {
  .info {
    margin-top: -19.79167vw;
  }

  .info__wrapper {
    max-width: 62.5vw;
    border: 0.10417vw solid $white;
    border-radius: 1.04167vw;
    padding: 1.25vw;
  }

  .info__close-btn {
    max-width: 1.5625vw;

    svg {
      width: 1.5625vw;
      height: 1.5625vw;
    }
  }

  .info__title {
    max-width: 23.4375vw;
    margin: 0 auto 1.25vw;
    border-radius: 1.04167vw;
    padding: 0.26042vw;
  }

  .info__text-title {
    border-bottom: 0.20833vw solid $blue;
  }

  .info__text-box {
    max-width: 59.89583vw;
    p:not(:last-child) {
      margin-bottom: 0.83333vw;
    }
  }
}
