@font-face {
  font-family: "Roboto";
  src: url("../../src/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../src/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.roboto-48-bold {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.roboto-32-bold {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.roboto-24-normal {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: normal;
}
